<div class="footer1">


    <div class="values">
        <h2>VALUES</h2>
        <p>organic and customers satifaction at the heart <br> of everything we do 
        we strive to maintain good customer relationship <br> with our customers.</p>
    </div>

    <div class="location">
        <h2>LOCATION</h2>
        <P>OWERRI  NIGERIA</P>
    </div>

    
    <div class="contact_us">
        <h2>CONTACT US</h2>
        <p><i class="bi bi-telephone-fill"></i> +23457690032</p>
        <p><i class="bi bi-envelope-fill"></i> Zaramfarms@gmail.com</p>
        <p><i class="bi bi-browser-edge"></i> www.zaramfarms</p>
    </div>


</div>
