

<!-- 
<div class="section3_wh">
    <ul class="section4_ul">
        <li>
            <h2>FEED PRODUCTION</h2>
            <h3>Here at zaram farms we do not waste anything,<br> we produce our feed from the waste of different organic plant sources <br> which makes livestock healthy</h3>
        </li>

        <li>
            <figure class="section4_img">
                <img src="assets/livestock2.jpeg" alt="">
            </figure>
        </li>
    </ul>


    <ul class="section40_ul">
        <li>
            <h2>LIVESTOCK REARING</h2>
            <h3>Here at zaram farms we do not waste anything,<br> we produce our feed from the waste of different organic plant sources <br> which makes livestock healthy</h3>
        </li>

        <li>
            <figure class="section40_img">
                <img src="/assets/rrr.jpeg" alt="">
            </figure>
        </li>
    </ul>

</div> -->


