<div class="section1">

<div class="section_c">
<h3>CONNECT:
<i class="bi bi-facebook"></i>
<i class="bi bi-instagram"></i>
<i class="bi bi-whatsapp"></i>
</h3>
</div>


<div class="section1_nav">
    <nav>
        <ul>
            <li><a href="#section2+">who we are</a></li>
            <li><a href="#section3+">feeding the nation</a></li>
            <li><a href="#section3_w+">what we do</a></li>
        </ul>
    </nav>
</div>
</div>

<!-- <div class="section_img">
    <img src="/assets/nwafor farm produce (4).png" alt="">
    <h1>ZARAM FARMS</h1>
</div> -->


