<div class="section3" id="section3+">
    <h2>FEEDING THE <span>NATION</span></h2>
    <p>We at  <strong><span>Zaram farms</span></strong> are dedicated to serving the nation. <br> our products are 100% organic for the well being of the nation. <br> we believe that farm produce is suppose to be healthy. so we make it our <br> duty to feed the nation with a  <br>100% organic and orignal product. <br> our products are well prepared by 
        expert nutritionst who take take to avoid the use of chemicals
    </p>

    <img src="/assets/planting.jpg" alt="">
</div>



<div class="section3_w" id="section3_w+">
    <h1><span>W</span>HAT WE <span>DO</span></h1>
    <p>Zaram farm is set in the beautiful greenbelt of the country imo and is accessible froom other surronding areas. At zaram farms, we go beyond just farming we look to integrate the latest technology for an all round 
        experience and to produce food with minimal waste>. </p>
</div>



<div class="FVH">
    
        <div class="FVH1">
            <h2>FRESH VEGETABLES HARVESTING</h2>
            <h3>We produce and sell fresh and organic vegetables all year round <br> for our customers </h3>
        </div>

        <div class="FVH2">
            <h2>FEED PRODUCTION</h2>
            <h3>Here at zaram farms we do not waste anything,<br> we produce our feed from the waste of different organic plant sources <br> which makes livestock healthy</h3>
        </div>


</div>


      
 <div class="FVH_IMG">

            <div class="FVH_IMG1">
                <img src="/assets/Stokpic_114.jpg" alt="">
            </div>

        

        <div class="FVH_IMG2">
            <img src="assets/livestock2.jpeg" alt="">
       </div>

</div>

        

        


        
