<div class="section2">
    <img src="/assets/agriculture-barn-clouds-235725.jpg" alt="">
</div>

<div class="sec3" id="section2+">
    <h1><span>WH</span>O WE ARE</h1>
</div>

<div class="sec3cc">
    
    <ul class="sec3c_sec">
        <li>
            <h2>A FARM</h2>
            <h3>Zaram farms engages in commercial production and distribution of fresh foodstuff and live stock. we also provide pasture ground the purpose of grazing livestock. we strive to <br> give our customers the best</h3>
        </li>


        <li>
            <figure class="sec3c_sec_img">
                <img src="/assets/farmers-market.jpg" alt="">
            </figure>
        </li>
    </ul>


    
</div>

<div>
    
    <ul class="sec4c_sec">

        <li>
            <h2>LIVESTOCKS</h2>
            <h3>We produce feeds and foods that all our livestock eat organiclly, we ensure that the productions are done in a healthy way without chemicals which make our livestock very healthy and different from other sources</h3>
        </li>

        <li>
            <figure class="sec4c_sec_img">
                <img src="/assets/live stock.jpg" alt="">
            </figure>
        </li>

        
    </ul>
</div>


